<!DOCTYPE html>
<html>
    <head>
        <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% stylesheets 'css/style.css' %}<link rel="stylesheet" type="text/css" href={{ asset_url }}/>{% endstylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block javascripts %}{% endblock %}
        <div class="conteneur">
			<img class="baniere" src={{asset('Images/Baniere_02.png')}}/>
			<div class="header">
		        <div class="navigation">
		          <ul class="main-nav">
		            <li style="float:left">
		              <img class="img_topnav" src="{{asset('Images/Icones/Accueil_blanc.png')}}">
		              <a href="/">Accueil</a>
		            </li>    
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li style="float:left">
		              <img class="img_topnav" src="{{asset('Images/Icones/Compte_blanc.png')}}">
		              <a href="{{ path('fos_user_profile_show')}}">Compte</a>
		            <li>
                            {% else %}
                            <li style="float:left">
                               <img class="img_topnav" src="{{asset('Images/Icones/Compte_blanc.png')}}">
                               <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
                            </li>
                            {% endif %}
                            <li style="float:left">
		              <img class="img_topnav" src="{{asset('Images/Icones/Bibliotheque_blanc.png')}}">
		              <a href="/biblio">Biblioth&egrave;que</a>
		            </li>
		            <li style="float:left">
		              <img class="img_topnav" src="{{asset('Images/Icones/Question_blanc.png')}}">
		              <a href="/apropos">A propos</a>
		            </li>
                            <li>
                            </li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li style="float:right"><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li
                            {% else %}
                  
                                <li style="float:right"><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                            {% endif %}
		          </ul>
		        </div>
		     </div>
        {% block body %}{% endblock %}
        </div>
        
    </body>
</html>
