{% extends 'base.html.twig' %}

{% block body %}


			<br/> <br/>

			<div classe="livres_ajoutes">
				<h2> Les derniers livres ajout&eacute;es </h2>

				<center>
					<table class="tab_livre">
						<tr>
							<td class="td_livre">
								<a href="/livre"> <img class="img_livre" src={{asset('Images/Simpson-t1.jpg')}}> </a> <br/>
								 Les Simpson - Camping en d&eacute;lire <br/> MATT GROENING, Jungle
							</td>
							<td class="td_livre">
								<a href="/livre"> <img class="img_livre" src={{asset('Images/Harry_Potter_t1.jpg')}}> </a> <br/>
								Harry potter &agrave; l'&eacute;cole des sorciers <br/> J-K Rowling, Galimard
							</td>
							<td>
								<a href="/livre"> <img class="img_livre" src={{asset('Images/Candide.jpg')}}> </a>  <br/>
								Candide <br/> VOLTAIRE, Livre de poche
							</td>
							<td class="td_livre">
								<a href="/livre"> <img class="img_livre" src={{asset('Images/Tintin_Congo.jpg')}}> </a>  <br/>
								Tintin au Congo <br/> HERGE, Casterman
							</td>
							<td class="td_livre">
								<a href="/livre"> <img class="img_livre" src={{asset('Images/Letranger.jpg')}}>  </a> <br/>
								L &eacute;tranger <br/> Albert Camus, Folio
							</td>

						</tr>
					</table>
				</center>
			</div>

		</div> <!-- fin conteneur-->
{% endblock %}