{% extends 'base.html.twig' %}

{% block body %}


			<br/> <br/>
       {% if app.session.flashBag.has('notice') %}
        <div class="alert alert-notice">
            {% for msg in app.session.flashBag.get('notice') %}
                {{ msg }}
            {% endfor %}
        </div>
        {% endif %}
        <div classe="livres_ajoutes">
            <h2> Les derniers livres ajout&eacute;es </h2>
            <!--<a href="{{path('livre_search')}}">Chercher un livre</a>-->
				<center>
					<table class="tab_livre">
						{% for column in livres|batch(4,null) %}
                                                <tr>
                                                    {% for livre in column %}
							<td class="td_livre">
                                                                    <a href="{{path('livre_livre',{'id' : livre.id })}}">
                                                                    {% if livre.imageLivre is not null %}
                                                                        <img class="img_livre" src="{{ asset(livre.imageLivre.getwebPath()) }}">
                                                                    {% else %}
                                                                        <img class="img_livre" src="{{ asset('Images/uploads/img/manquant.png') }}">               
                                                                    {% endif %} <br/>
                                                                    {{ livre.titre }}<br/> {{ livre.auteur }}, {{ livre.editeur }}</a>
								</td>
							</td>
                                                    {% endfor %}
						</tr>
                                                {% endfor %}
					</table>
				</center>
			</div>

		</div> <!-- fin conteneur-->
{% endblock %}