{% extends "base.html.twig" %}
{% block body %}

			<br/> <br/>

			<div classe="livres_ajoutes">
				<h2> Livres disponible </h2>

				<label for="tri"> Afficher par : </label>
				<select id="tri">
					<option>Titre</option>
					<option>Auteur</option>
					<option>Editeur</option>
					<option>Genre</option>
					<option>Date d'ajout</option>
				</select>

				<center>
					<table class="tab_livre">

						{% if livres is not empty %}

						<table class="tab_livre">
							<tr>
							<!-- boucle sur l'ensemble des livres de la base de données -->
							{% for livre in livres %}

								<td class="td_livre">
								<a href="{{path('livre_livre',{'id' : livre.id })}}">
                                                                    {% if livre.imageLivre is not null %}
                                                                        <img class="img_livre" src="{{ asset(livre.imageLivre.getwebPath()) }}">
                                                                    {% else %}
                                                                        <img class="img_livre" src="{{ asset('Images/uploads/img/manquant.png') }}">
                                                                    {% endif %} <br/>
                                                                    {{ livre.titre }}<br/> {{ livre.auteur }}, {{ livre.editeur }}</a>
								</td>

							{% endfor %}
							</tr>
						</table>

						{% endif %}

					</table>
				</center>
			</div>
{% endblock %}
