
{% extends "base.html.twig"%}
{% block body %}
			<div class="div_livre"> 
				<center>
				<table class="tab_livre">
					<tr>
						<td>
							<center>
								<h3>{{livre.titre}}</h3>
								    {% if livre.imageLivre is not null %}
                                                                        <img class="img_livre" src="{{ asset(livre.imageLivre.getwebPath()) }}">
                                                                    {% else %}
                                                                        <img class="img_livre" src="{{ asset('Images/uploads/img/manquant.png') }}">
                                                                    {% endif %} <br/>
							</center>
						</td>
					</tr>
					<tr> 
						<td>
							<h4> R&eacute;sum&eacute; : </h4>
							<p class="resume"> 
                                                            {% if livre.resume is not null %}
                                                                {{ livre.resume}}
                                                            {% else %}
                                                                Pas de résumé
                                                            {% endif %}
                                                        </p>
						</td>
					</tr>
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            {% if livre.user != user %}
                                            <tr>
                                                <td>
                                                  
                                                    <a href="{{path('livre_echange',{'id' : livre.id })}}" style="text-decoration: none"><input type="button" value="Demander"></a>
                                                </td>
                                            </tr>
                                            {% elseif user.demande %}
                                                {% if user.demande.livre == livre %}
                                                <tr>
                                                    <td>                                         
                                                        <a href="{{path('livre_echange',{'id' : livre.id })}}" style="text-decoration: none"><input type="button" value="deja commandé"></a>
                                                    </td>
                                                </tr>
                                                {% endif %}
                                            {% elseif user.livres %}
                                                {% for ulivre in user.livres%}
                                                    {% if ulivre == livre %}
                                                <tr>
                                                    <td>                                                  
                                                        <a href="{{path('livre_suppr',{'id' : livre.id })}}" style="text-decoration: none"><input type="button" value="Supprimer"></a>
                                                    </td>
                                                </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% else %}
                                        <tr>                                       
                                                <td>
                                                  
                                                    <a href="{{ path('fos_user_profile_show')}}" style="text-decoration: none"><input type="button" value="Se connecter"></a>
                                                </td>
                                        </tr>
                                        {% endif %}
                                        
				</table>
				</center>
                                                        
			</div>
{% endblock %}