{% extends "base.html.twig" %}
{% block body %}
			{% block javascript %}
                            <script>
                                var request;
                                
                            </script>
                        {% endblock %}
			<br/> <br/>

			<center>
				<div class="recherche">
					<table class="form">
						<form>
							<tr> 
								<td>
                                                                    <form id="foo" action="{{ path('livre_search') }}">
									<label for="titre">Titre *</label>
									<input name='titre' id='titre' />

									
									<input type="submit" id="recherche" value="Rechercher" />
                                                                    </form>
								</td>
							</tr>
						</form>
					</table>
				</div> <!-- fin recherche-->
			</center>

			</br> </br>

			<center>
				<div class="result">
					<table class="tab_livre">
						{% for column in livres|batch(4,null) %}
                                                <tr>
                                                    {% for livre in column %}
							<td class="td_livre">
                                                                    <a href="{{path('livre_livre',{'id' : livre.id })}}">
                                                                    {% if livre.imageLivre is not null %}
                                                                        <img class="img_livre" src="{{ asset(livre.imageLivre.getwebPath()) }}">
                                                                    {% else %}
                                                                        <img class="img_livre" src="{{ asset('Images/uploads/img/manquant.png') }}">               
                                                                    {% endif %} <br/>
                                                                    {{ livre.titre }}<br/> {{ livre.auteur }}, {{ livre.editeur }}</a>
								</td>
							</td>
                                                    {% endfor %}
						</tr>
                                                {% endfor %}
					</table>
				</div>
			</center>
{% endblock %}