{% trans_default_domain 'FOSUserBundle' %}
{% extends "base.html.twig" %}

{% block body %}
<div class="top">
				<label for="geolocalisation"> G&eacute;olocalisation </label>
				<select id="geolocalisation">
					<option>On</option>
					<option>Off</option>
				</select>
                                <div>       
                                    <label> Nom d'utilisateur : {{ app.user.username }}</label>
                                    <label>Adresse e-mail : {{ app.user.email }}</label>
                                    <a href="{{ path('fos_user_profile_edit') }}">Editer</a>
                                </div>
			</div> <!-- fin top -->
                        
                        <a href="{{ path('livre_ajout')}}">Ajouter un livre</a>
                        
                       <center>
					<table class="tab_livre">

						{% if user.livres is not empty %}

						<table class="tab_livre">
							<tr>
							<!-- boucle sur l'ensemble des livres de la base de données -->
							{% for livre in user.livres %}

								<td class="td_livre">
								<a href="">
                                                                    {% if livre.imageLivre is not null %}
                                                                        <img class="img_livre" src="{{ asset(livre.imageLivre.getwebPath()) }}">
                                                                    {% endif %} <br/>
                                                                    {{ livre.titre }}<br/> {{ livre.auteur }}, {{ livre.editeur }}</a>
								</td>

							{% endfor %}
							</tr>
						</table>

						{% endif %}

					</table>
				</center>
{% endblock %}
